body {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: #131313;
  color: #fff;
}

.h3 {
  color: #d6f0f7;
}

button {
  margin-top: 50px;
  margin-bottom: 50px;
  z-index: 2;
}

.item {
  height: 500px;
  width: 300px;
  margin-left: 100px;
}
